.row {
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.rowPosters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0 20px 20px;
    /* Add padding to avoid hover cut-off */
    margin-left: -20px;
    /* Counteract parent padding if needed, or just keep it */
}

.rowPosters::-webkit-scrollbar {
    display: none;
}