:root {
  --background: #141414;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.back-link {
  font-size: 1rem;
  background-color: #222222;
  color: var(--foreground);
  padding: 1rem;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;

}

.back-link:hover {
  background-color: var(--foreground);
  color: var(--background);
}