.app {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.rowsContainer {
  margin-top: -100px;
  /* Pull rows up over the hero fade */
  z-index: 10;
  position: relative;
  padding-bottom: 50px;
}